In [1]:
import pandas as pd
import sqlite3
from Transform import load_to_db

Transform edilmiş veriler transformed_data_.csv dosyasına kaydedildi.
Veriler 'trendyol_laptop.db' veritabanındaki 'Laptop' tablosuna yüklendi.

In [2]:
conn = sqlite3.connect('trendyol_laptop.db')
table_name = 'Laptop'

In [3]:
query_statement1 = f"""
SELECT Brand,
        Product,
        Price_TRY
FROM Laptop
ORDER BY Price_TRY DESC
LIMIT 15
"""
query_output1 = pd.read_sql(query_statement1, conn)
print(query_output1)

      Brand                                            product  Price_TRY
0   MONSTER  Markut M7 V6.1.2 Intel Core I9 13980hx 64 Gb R...     218999
1      DELL  Precision M7780 XCTOP7780EMEA-VP2A10 i9-13950H...     216549
2   MONSTER  Markut M7 V6.1 Intel Core I9 13980hx 32 Gb Ram...     210999
3    LENOVO  Legion 9/ Core i9-13980HX/ GeForce RTX 4080/ 3...     190000
4    LENOVO  ThinkPad P16 21FA0005TX11 i9-13980HX 128GB 2TB...     183929
5    LENOVO  Legion Pro 7 Intel Core i9-14900HX 32Gb 1TB Nv...     179999
6      ASUS  Rog Zephyrus G16 Core Ultra 9 185H-RTX4090 16G...     179899
7     RAZER  Blade 18 İntel Core i9-13950HX 32GB DDR5 2TB S...     174900
8      ASUS  UX582ZM-H2036W INTEL / I7-12700 / 32GB / 1TB /...     173399
9      ASUS  G834JYR-R6101W/ Core I914900HX/ 32GB Ram/ 2TB ...     171900
10     DELL  Precision M5690 XCTOP5690EMEA-VP2A6 Ultra9 185...     165869
11     DELL  Precision M5690 XCTOP5690EMEA-VP2A5 Ultra9 185...     163019
12     ASUS  Rog Strix Scar 18 G834jyr-n6098 16gb Rtx4090 1...     162999
13     ASUS  ROG Zephyrus G16 GU605 GU605MY-OLED019 16GB RT...     162999
14   LENOVO  Yoga Pro 9/ Core i9-13905H/ GeForce RTX 4070/ ...     162800

In [4]:
query_statement2 = f"""
select Brand,
       Product,
       Price_TRY
from Laptop
order by Price_TRY ASC
limit 10
"""
query_output2 = pd.read_sql(query_statement2, conn)
print(query_output2)

    Brand                                            product  Price_TRY
0  QUADRO  Novabook Gn15-140p-cj N4020 4gb 128gb Uyumlu W...       7069
1    ONDA  Olilver A1 N5030 8gb Ram 128gb Ssd 10.1" Lapto...       7248
2    ACER  Chromebook 315 Cb315-3h Intel Celeron N4020 İş...       7499
3  QUADRO  Novabook Gn15-140P-Cj N4020 4Gb 128Gb Windows ...       7499
4  LENOVO  IdeaPad1 Intel Celeron N4020 4GB 128GB SSD Win...       7535
5  LENOVO  IdeaPad1 Intel Celeron N4020 4GB 128GB SSD Win...       7535
6  LENOVO  IdeaPad1 Intel Celeron N4020 4GB 128GB SSD Win...       7535
7  LENOVO  IdeaPad1 Intel Celeron N4020 4GB 128GB SSD Win...       7535
8  LENOVO  IdeaPad1 Intel Celeron N4020 4GB 128GB SSD Win...       7535
9  LENOVO  IdeaPad1 Intel Celeron N4020 4GB 128GB SSD Win...       7535

In [5]:
query_statement3 = f"""
SELECT Brand, product, Price_TRY
FROM Laptop l
WHERE Price_TRY = (
    SELECT MAX(Price_TRY)
    FROM Laptop
)
OR  Price_TRY = (
    SELECT MIN(Price_TRY)
    FROM Laptop
)
ORDER BY Price_TRY DESC;
"""

query_output3 = pd.read_sql(query_statement3, conn)
print(query_output3)

     Brand                                            product  Price_TRY
0  MONSTER  Markut M7 V6.1.2 Intel Core I9 13980hx 64 Gb R...     218999
1   QUADRO  Novabook Gn15-140p-cj N4020 4gb 128gb Uyumlu W...       7069

In [6]:
query_statement4 = f"""
select Brand, 
       AVG(Price_TRY) as AVG_Price,
       AVG(Rating_Score) as AVG_Rating
from Laptop 
where Rating_Score > 0
group by Brand
order by AVG_Price DESC
"""
query_output4 = pd.read_sql(query_statement4, conn)
print(query_output4)

        Brand     AVG_Price  AVG_Rating
0   MICROSOFT  88235.000000    5.000000
1     MONSTER  48766.529197    4.603504
2       HONOR  32499.000000    4.600000
3        DELL  31469.214981    4.592809
4       APPLE  29593.508666    4.748154
5         MSI  26361.410661    4.697748
6      CASPER  26312.537340    4.336334
7        ACER  22838.604371    4.497249
8      HUAWEI  20102.300613    4.798006
9     TOSHIBA  16900.000000    4.000000
10       ASUS  16666.324213    4.504241
11     LENOVO  15095.541482    4.598231
12     QUADRO  13799.000000    1.000000
13         HP  11216.908351    4.572581

In [7]:
query_statement5 = f"""
select Brand,
       MAX(Price_TRY) as max_price,
       MIN(Price_TRY) as min_price
from Laptop
group by Brand
"""
query_output5 = pd.read_sql(query_statement5, conn)
print(query_output5)

        Brand  max_price  min_price
0        ACER      63599       7499
1       APPLE     159999      28499
2     ARÇELIK      40999      40999
3        ASUS     179899       7844
4      CASPER     150099       8936
5        DELL     216549      10800
6    GIGABYTE     117348      46699
7       HONOR      32999      31999
8          HP     129999       9344
9      HUAWEI      79999      19851
10     LENOVO     190000       7535
11  MICROSOFT     124250      51485
12    MONSTER     218999      24599
13        MSI     144990      15649
14       ONDA       7248       7248
15     QUADRO      41899       7069
16      RAZER     174900      85990
17    TOSHIBA      39576      16900

In [8]:
query_statement6 = f"""
select Brand,
       Rating_Score
from Laptop
group by Brand
having COUNT(Product) > 1
order by Rating_Score desc
"""
query_output6 = pd.read_sql(query_statement6, conn)
print(query_output6)

        Brand  Rating_Score
0      LENOVO           5.0
1      HUAWEI           4.8
2          HP           4.8
3         MSI           4.7
4       APPLE           4.7
5     MONSTER           4.6
6       HONOR           4.6
7        DELL           4.6
8        ASUS           4.5
9      CASPER           4.2
10       ACER           4.2
11    TOSHIBA           4.0
12      RAZER           0.0
13     QUADRO           0.0
14  MICROSOFT           0.0
15   GIGABYTE           0.0

In [9]:
query_statement8 = f"""
WITH BrandCount AS (
    SELECT Brand, COUNT(product) AS TOTAL_PRODUCT
    FROM Laptop
    GROUP BY Brand
),
TotalCount AS (
    SELECT COUNT(product) AS TOTAL_PRODUCTS
    FROM Laptop
)
SELECT 
    b.Brand,
    b.TOTAL_PRODUCT,
    (b.TOTAL_PRODUCT * 100.0 / t.TOTAL_PRODUCTS) AS MARKET_SHARE
FROM BrandCount b, TotalCount t
ORDER BY MARKET_SHARE DESC
"""

query_output8 = pd.read_sql(query_statement8, conn)
print(query_output8)

        Brand  TOTAL_PRODUCT  MARKET_SHARE
0      LENOVO           9722     29.137445
1          HP           6872     20.595816
2      CASPER           4054     12.150093
3        ACER           2760      8.271894
4       APPLE           2687      8.053108
5        ASUS           1663      4.984116
6        DELL           1486      4.453635
7     MONSTER           1407      4.216867
8         MSI           1378      4.129953
9      HUAWEI           1310      3.926152
10      RAZER              7      0.020979
11  MICROSOFT              6      0.017982
12     QUADRO              5      0.014985
13   GIGABYTE              3      0.008991
14      HONOR              2      0.005994
15    TOSHIBA              2      0.005994
16    ARÇELIK              1      0.002997
17       ONDA              1      0.002997

In [10]:
query_statement9 = f"""
SELECT 
    Brand,
    CASE 
        WHEN Price_TRY < 15000 THEN 'cheap'
        WHEN Price_TRY >= 15000 AND Price_TRY < 25000 THEN 'Not bad'
        WHEN Price_TRY >= 25000 AND Price_TRY < 45000 THEN 'Reasonable'
        WHEN Price_TRY >= 45000 AND Price_TRY < 80000 THEN 'Little expensive'
        WHEN Price_TRY >= 80000 AND Price_TRY < 130000 THEN 'Expensive'
        ELSE 'Too expensive'
    END AS "Price_Range",
    COUNT(*) AS "Number_of_Product"
FROM laptop
GROUP BY Brand, "Price_Range"
ORDER BY Brand, "Price_Range"
"""
query_output9 = pd.read_sql(query_statement9, conn)
print(query_output9)

      Brand       Price_Range  Number_of_Product
0      ACER  Little expensive                 16
1      ACER           Not bad                 45
2      ACER        Reasonable               1380
3      ACER             cheap               1319
4     APPLE         Expensive                 22
..      ...               ...                ...
58   QUADRO             cheap                  4
59    RAZER         Expensive                  6
60    RAZER     Too expensive                  1
61  TOSHIBA           Not bad                  1
62  TOSHIBA        Reasonable                  1

[63 rows x 3 columns]

In [11]:
query_statement10 = f"""
SELECT Brand, MAX(Price_TRY) as Max_Price
FROM Laptop
GROUP BY Brand;
"""
print(pd.read_sql(query_statement10, conn))

        Brand  Max_Price
0        ACER      63599
1       APPLE     159999
2     ARÇELIK      40999
3        ASUS     179899
4      CASPER     150099
5        DELL     216549
6    GIGABYTE     117348
7       HONOR      32999
8          HP     129999
9      HUAWEI      79999
10     LENOVO     190000
11  MICROSOFT     124250
12    MONSTER     218999
13        MSI     144990
14       ONDA       7248
15     QUADRO      41899
16      RAZER     174900
17    TOSHIBA      39576

In [12]:
query_statement11 = """
SELECT Brand, MIN(Price_TRY) as Min_Price
FROM Laptop
GROUP BY Brand;
"""
print(pd.read_sql(query_statement11, conn))

        Brand  Min_Price
0        ACER       7499
1       APPLE      28499
2     ARÇELIK      40999
3        ASUS       7844
4      CASPER       8936
5        DELL      10800
6    GIGABYTE      46699
7       HONOR      31999
8          HP       9344
9      HUAWEI      19851
10     LENOVO       7535
11  MICROSOFT      51485
12    MONSTER      24599
13        MSI      15649
14       ONDA       7248
15     QUADRO       7069
16      RAZER      85990
17    TOSHIBA      16900